body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#tab {
    .tab-list {
        display: grid;
        column-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
        text-align: center;
        .tab-item {
            border-radius: 10px;
            background-color: white;
            padding: 10px;
            position: relative;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            &::before {
                content: '';
                height: 2px;
                background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
                position: absolute;
                bottom: 1px;
                width: 0%;
                left: 5%;
                transition: 0.3s;
            }
            &:hover {
                &::before {
                    width: 90%;
                }
            }
        }
        .active {
            &::before {
                height: 0px;
            }
            background-color: #0e8695;
            color: whitesmoke;
        }
    }
    .tab-wrapper {
        margin: 10px 0;
        .tab-content {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 20px;
            border-radius: 10px;
            margin: 10px 0;
            height: 216px;
            display: none;
        }
        .active {
            transition: display 0.3s;
            display: block;
        }
    }
}

@media only screen and (min-width: 414px) {
    #tab {
        width: 414px;
        height: 500px;
        cursor: pointer;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 414px) {
    #tab {
        width: 100vw;
    }
}